$selectionColor: #b4d5fe;


@mixin textShadowToCropUnderline($color) {
  text-shadow:
  .03em 0 $color,
  -.03em 0 $color,
  0 .03em $color,
  0 -.03em $color,

  .06em 0 $color,
  -.06em 0 $color,
  .09em 0 $color,
  -.09em 0 $color,

  .12em 0 $color,
  -.12em 0 $color,
  .15em 0 $color,
  -.15em 0 $color;
}

@mixin linkUnderlines($background, $color) {
  color: $color;
  text-decoration: none;
  @include textShadowToCropUnderline($background);

  background-image:
  linear-gradient($background, $background),
  linear-gradient($background, $background),
  linear-gradient($color, $color);
  background-size:
  .05em 1px,
  .05em 1px,
  1px 1px;
  background-repeat:
  no-repeat,
  no-repeat,
  repeat-x;
  background-position:
  0% 90%,
  100% 90%,
  0% 90%;

  &::selection {
    @include textShadowToCropUnderline($selectionColor);
    background-color: $selectionColor;
  }
  &::-moz-selection {
    @include textShadowToCropUnderline($selectionColor);
    background-color: $selectionColor;
  }
  &:before,
  &:after,
  *,
  *:before,
  *:after {
    text-shadow: none;
  }
  &:visited {
    color: $color;
  }
}

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url('/images/' + $file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx){
    & {
      background-image: url($file + '@2x.' + $type);
      -webkit-background-size: $width $height;
      -moz-background-size: $width $height;
      -o-background-size: $width $height;
      background-size: $width $height;
    }
  }
}
