.landing-cover {
  border-bottom: 1px solid darken($landing-background-color, 10%);
  background-color: $landing-background-color;
  overflow: hidden;

  .row {
    height: 399px;
    overflow: hidden;

    .london-tomster {
      height: 425px;
      width: 590px;
      background-repeat: no-repeat;
      background-position: -50px -70px;
      @include background-image-retina('tomster', 'png', 425, 590);
    }

  }
}

.stats {
  $stats-background-color: lighten($landing-background-color, 42%);
  background-color: $stats-background-color;
  border-bottom: 1px solid lighten($landing-background-color, 35%);
  
  .frame {
    border-top: 1px solid lighten($stats-background-color, 3%);
    border-bottom: 1px solid lighten($stats-background-color, 5%);
  }
  
  p {
    color: lighten($landing-background-color, 5%);
    margin: 10px 0 10px 0;
    font-size: 14px;
    a {
      color: $landing-background-color;
      @include linkUnderlines($stats-background-color, $landing-background-color);
    }
  }
}
