.meetups {

  header {
    border-bottom: 1px solid darken($emberlondon-primary, 10%);
  }

  .landing-cover {
    border-bottom: 1px solid darken($emberlondon-primary, 10%);
    background-color: $emberlondon-primary;
    overflow: hidden;

    .london-tomster {
      pointer-events: none;
      position: absolute;
      margin: auto;
      top: 0;
      z-index: 1;
      height: 400px + $header-height;
      width: 590px;
      background-repeat: no-repeat;
      background-position: -40px -30px;
      @include background-image-retina('tomster', 'png', 425, 590);
    }
  }

  .stats {
    $stats-background-color: lighten($emberlondon-primary, 42%);
    background-color: $stats-background-color;
    border-bottom: 1px solid lighten($emberlondon-primary, 35%);

    .frame {
      border-top: 1px solid lighten($stats-background-color, 3%);
      border-bottom: 1px solid lighten($stats-background-color, 5%);
    }

    p {
      color: lighten($emberlondon-primary, 5%);
      a {
        color: $emberlondon-primary;
        @include linkUnderlines($stats-background-color, $emberlondon-primary);
      }
    }
  }
}
