<div class="meetups">
  <header></header>

  <div class="landing-cta">
    <div class="row display">
      <div class="large-7 large-offset-5 medium-12 medium-only-text-center small-12 small-centered small-only-text-center columns">
        <h1><a href="/">Ember London</a></h1>
        <h2>Thursday, 8 January 2015 (6.30pm - 9.30pm)</h2>
        <h3><a href="http://www.meetup.com/London-Emberjs-User-Group/">Rsvp On Meetup</a></h3>
      </div>
    </div>
  </div>

  <div class="landing-cover">
    <div class="row display">
      <div class="london-tomster show-for-large-up"></div>
    </div>
  </div>

  <div class="stats">
    <div class="frame">
      <div class="row">
        <div class="large-12 columns">
          <p class="large-text-left text-center">
            <a href="http://www.meetup.com/London-Emberjs-User-Group/" target="_blank">594 Embereños</a> –
            <a href="https://vimeo.com/emberlondon/videos" target="_blank">41 Videos</a> –
            <a href="http://www.emberaddons.com/?query=emberlondon" target="_blank">14 Ember Addons</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
