<div class="project-nights">
  <div class="landing-cta">
    <div class="row display">
      <div class="small-12 large-12 small-centered small-only-text-center medium-only-text-center columns">
        <h1><a href="/">Project Nights</a></h1>
        <h2>Thursday, 12 January 2015 (Starts at 7.00pm)</h2>
        <h3><a href="http://www.meetup.com/London-Emberjs-User-Group/">Rsvp On Meetup</a></h3>
      </div>
    </div>
  </div>

  <div class="landing-cover">
    <div class="promo-image show-for-large-up"></div>
  </div>

  <div class="container">
  </div>
</div>
